<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="header">Заголовок страницы</div>
    <h1>H1 text</h1>
    <h2>H2 text</h2>
    <h3>H3 text</h3>
    <h4>H4 text</h4>
    <h5>H5 text</h5>
    <h6>H6 text</h6>
    <p class="text bold">Тестовый текст <span style="color: red;">Красный текст</span> для проверки отображения параграфа</p>
    <a href="https://www.example.com" target="_blank">Перейти на сайт</a>
    <img src="photo.jpg" alt="Фото с пляжа">
    <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
    </ul>
    <ol>
        <li>Первый пункт</li>
        <li>Второй пункт</li>
    </ol>
    <form action="/submit" method="POST">
        <input type="text" value="Input your name" name="username" placeholder="Username">
        <input required type="email" placeholder="Email">
        <input required type="password" placeholder="Password">
        <textarea required placeholder="Text">12345</textarea>
        <button type="submit">Отправить</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
            <td>Ячейка 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Значение 1</td>
            <td>Значение 2</td>
            <td>Значение 3</td>
        </tr>
        <tr>
            <td>Значение 1</td>
            <td>Значение 2</td>
            <td>Значение 3</td>
        </tr>
        <tr>
            <td>Значение 1</td>
            <td>Значение 2</td>
            <td>Значение 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>